.cta {
  @extend %white-background;
  @include fluid-props(padding, 20px, 24px);
  display: flex;
  
  @media (max-width: $desktop-breakpoint - 1px) {
    @include fluid-props(gap, 12px, 16px);
    flex-direction: column;
  }

  @media (min-width: $desktop-breakpoint) {
    @include fluid-props(gap, 25px, 35px);
    justify-content: space-between;
  }

  &__content {
    @include fluid-props(gap, 4px, 4px);
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    &__uptitle {
      @extend %small-title;
    }
    
    &__title {
      @extend %title;
      @include fluid-props(margin-bottom, 1px, 2px);
    }

    &__description {
      @extend %paragraph;

      &:not(:last-child) {
        @include fluid-props(margin-bottom, 15px, 25px);
      }
    }

    .button {
      margin-top: auto;
    }
  }

  &__image {
    @include fluid-props(max-height, 200px, 250px);
    object-fit: cover;
    border-radius: 12px;

    @media (min-width: $desktop-breakpoint) {
      @include fluid-props(max-height, 170px, 170px);
      order: 2;
    }
  }
}