// Libs imports
@import 'lib/variables.scss';
@import 'lib/fonts.scss';
@import 'lib/mixins.scss';
@import 'lib/reset.scss';
@import 'lib/placeholders.scss';
@import 'lib/animations.scss';

// Components imports
@import 'components/atoms/button.scss';
@import 'components/atoms/progress-bar.scss';
@import 'components/atoms/input.scss';
@import 'components/molecules/info-item.scss';
@import 'components/molecules/workout-item.scss';
@import 'components/organisms/navbar.scss';
@import 'components/organisms/cta.scss';
@import 'components/organisms/workouts-list.scss';
@import 'components/organisms/modal.scss';

// Pages imports
@import 'pages/main.scss';
@import 'pages/dashboard.scss';
