// Libs imports
@import 'lib/variables.scss';
@import 'lib/fonts.scss';
@import 'lib/mixins.scss';
@import 'lib/reset.scss';
@import 'lib/placeholders.scss';
@import 'lib/animations.scss';

// Components imports
// @import 'components/atoms/button.scss';

// Pages imports
// @import 'pages/dashboard.scss';
