.add-item {
  @include fluid-props(padding, 20px, 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px $color-grey-light;
  border-radius: 15px;
  cursor: pointer;
  transition: border-color .2s cubic-bezier(0.73, 1, 0.68, 1),
              background-color .2s cubic-bezier(0.73, 1, 0.68, 1);

  &:hover {
    border-color: $color-background;
    background-color: $color-background;
  }

  &__content {
    @include fluid-props(gap, 12px, 18px);
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      @include fluid-props(font-size, 16px, 18px);
      color: $color-grey-dark;
      font-weight: $font-weight-bold;
    }
  }
}