.workout-template-item {
  @include fluid-props(gap, 15px, 20px);
  display: flex;
  flex-direction: column;

  &__image {
    display: grid;
    border-radius: 15px;
    overflow: hidden;

    &::after, img {
      grid-row: 1;
      grid-column: 1;
    }

    &.has-gradiant::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(49, 56, 96, .16) 0%, rgba(21, 25, 40, .88) 100%);
    }

    img {
      @include fluid-props(height, 180px, 190px);
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    @include fluid-props(padding-left padding-right, 4px, 6px);
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__uptitle {
      @include fluid-props(font-size, 14px, 14px);
      @include fluid-props(margin-bottom, 2px, 4px);
      line-height: 140%;
      color: $color-grey;
    }

    &__title {
      @extend %title;
      @include fluid-props(margin-bottom, 6px, 10px);
    }

    &__description {
      @extend %paragraph;
      @include fluid-props(margin-bottom, 16px, 20px);
    }

    .button {
      margin-top: auto;
    }
  }
}