.editable-content {
  @include fluid-props(font-size, 16px, 18px);
  position: relative;
  display: inline-block;
  min-width: 1ch;
  color: $color-text;
  line-height: 140%;
  font-weight: $font-weight-bold;
  white-space: nowrap;
  outline: none;
  cursor: text;

  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -2px;
    height: 1px;
    width: 100%;
    background-color: $color-grey;
  }

  &:empty {
    min-width: 1ch;
  }

  &[data-has-placeholder='true']:empty {
    min-width: max-content;

    &::before {
      content: attr(data-placeholder);
      color: $color-grey;
      pointer-events: none;
    }
  }
}