.icon-button {
  @include fluid-props(padding, 10px, 8px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: $color-primary;
  cursor: pointer;
  transition: opacity .2s cubic-bezier(0.73, 1, 0.68, 1);

  &:hover {
    opacity: .8;
  }

  &--danger {
    background-color: $color-red;
  }
}