.icon-button {
  @include fluid-props(padding, 10px, 8px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: $color-primary;
  cursor: pointer;
  border: solid 1px $color-primary;
  transition: background-color .2s cubic-bezier(0.73, 1, 0.68, 1);

  &:hover {
    background-color: transparent;

    svg path {
      fill: $color-primary;
    }
  }

  &--danger {
    border-color: $color-red;
    background-color: $color-red;

    &:hover {
      svg path {
        fill: $color-red;
      }
    }
  }

  svg path {
    transition: fill .2s cubic-bezier(0.73, 1, 0.68, 1);
  }
}