.input {
  &--select {
    position: relative;

    &::after {
      @include fluid-props(width, 16px, 18px);
      @include fluid-props(height, 7px, 9px);
      @include fluid-props(right, 18px, 20px);
      @include fluid-props(bottom, 12px, 15px);
      content: "";
      position: absolute;
      background-image: url('../../../icons/all/chevron.svg');
      background-size: 100% 100%;
      transform: translateY(-50%);
    }
  }

  &__label, input, select, textarea {
    @include fluid-props(font-size, 14px, 16px);

    &::placeholder {
      color: $color-grey;
    }
  }

  &__label {
    @include fluid-props(margin-bottom, 6px, 8px);
    display: block;
    font-weight: $font-weight-bold;
  }

  &__wrapper--file, input:not([type="checkbox"]), select, textarea {
    @include fluid-props(padding-top padding-bottom, 12px, 15px);
    @include fluid-props(padding-left padding-right, 18px, 20px);
    width: 100%;
    border: solid 1px $color-grey-light;
    border-radius: 15px;
    text-align: left;
    color: $color-text;
  }

  &__wrapper--file {
    @include fluid-props(height, 120px, 140px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dashed;

    input {
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
    }

    span {
      @include fluid-props(gap, 6px, 8px);
      display: flex;
      color: $color-grey;
      pointer-events: none;

      &::before {
        @include fluid-props(width height, 12px, 14px);
        content: "";
        background-image: url('../../../icons/all/upload.svg');
        background-size: 100% 100%;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
      pointer-events: none;
    }
  }

  &__wrapper--checkbox {
    input {
      position: absolute;
      opacity: 0;

      &:checked + label .input__checkbox__switcher {
        background-color: $color-primary;

        &::before {
          left: calc(100% - 2px);
          transform: translateX(-100%);
        }
      }
    }
  }

  &__checkbox {
    @include fluid-props(gap, 8px, 10px);
    @include fluid-props(padding-top padding-bottom, 4px, 6px);
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;

    &__switcher {
      @include fluid-props(width, 34px, 36px);
      @include fluid-props(height, 16px, 18px);
      position: relative;
      border-radius: 20px;
      background-color: $color-grey-light;
      transition: background-color .15s cubic-bezier(0.73, 1, 0.68, 1);

      &::before {
        @include fluid-props(width height, 12px, 14px);
        content: "";
        position: absolute;
        display: block;
        top: 2px;
        left: 2px;
        border-radius: 50%;
        background-color: $color-white;
        transform: translateX(0);
        transition: left .15s cubic-bezier(0.73, 1, 0.68, 1),
                    transform .15s cubic-bezier(0.73, 1, 0.68, 1);
      }
    }

    &__label {
      @include fluid-props(font-size, 14px, 16px);
      color: $color-grey;
    }
  }

  select {
    @include fluid-props(padding-right, 48px, 50px);

    &:has(option:checked[value=""]) {
      color: $color-grey;
    }
  }

  textarea {
    resize: none;
    height: 5lh;
  }
}
