.progress-bar {
  @include fluid-props(width, 75px, 100px);
  display: grid;

  span {
    width: 100%;
    height: 3px;
    grid-row: 1;
    grid-column: 1;
    border-radius: 2px;
  }

  &__value {
    background-color: $color-primary;
    transform: scaleX(var(--progression));
    transform-origin: left;
    transition: transform .4s cubic-bezier(0.73, 1, 0.68, 1);
  }

  &__background {
    background-color: $color-grey-light;
  }
}